body {
    background: linear-gradient(90deg, rgb(207, 160, 217), rgb(176, 165, 195));
    width: 90%;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
}

.good {
    color: green;
    font-style: italic;
}

.bad {
    color: red;
    font-style: italic;
}

.villager {
    border-color: red;
}

.farmer {
    border-color: green;
}

p {
    font-size: 12px;
    word-spacing: 1em;
    color: #2d0202;
}

q {
    width: 50%;
    margin: 80px auto;
    font-size: 160%;
    background-color: grey;
    display: block;
    border: dashed 3px;
    border-top: hidden;
    border-bottom: hidden;
    border-right: hidden;
    padding: 30px;
    font-style: italic;
}


a:link {
    color: blue;
}

a:hover {
    color: green;
}

a:visited {
    color: red;
    font-family: 'Open Sans', sans-serif;
}


header > h1 {
    background-color: yellow;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: grey;
}

Header > p {
    font-weight: bold;
}

img {
    float: left
}




